<br>
<div class="w3-container w3-center">
   <%= image_tag 'about.jpg',  height: '250', width: '500'%> 
  </div> <br> <br> 
<div class="w3-container w3-justify">
  <p> Welcome to The Online Book Store, Inc. <br> The Online Book Store is a family owned and operated textbook enterprise that services higher learning communities throughout the Chicago area. Here you will find a wide selection of books. The universities and colleges we operate bookstores for at the present time have enrollments ranging from over 18,000 students to under 1,200 students.
    <br>The following bullet points illustrate our qualifications and experience:<br>

<br>• Our passion to serve comes from understanding the goals and purposes of the institutions and individuals we partner with.

<br>• Our mission is to help each institution reach its creative and academic goals through providing superior service to students, faculty and staff.

<br>• We believe that superior college bookstore service emerges when excellent relationships, timely provision of materials and fair prices harmonize. Bringing these core objectives together is what we strive to do for our partners and customers every day.

<br>• Our core competency is understanding the needs of the college community and delivering quality service in a responsive, consistent and cost effective manner.

<br>• We are strength lies in our understanding of the economics of college bookstore operations, which allows us to offer students the lowest prices throughout the Chicagoland area. Beck’s commitment to deliver excellence is our culture and goes beyond contractual arrangements and obligations.

<br>• We are committed to providing diversity in both contracting and employment. This philosophy is reflected in our composition. Currently our employees are 50% minorities and 60% women in our staff.

<br>• Each of the institutions we service is a major part of our business. We therefore have greater incentives succeed, and are physically present near campus, enabling us to make our partnership a success.

<br>• Our decisions are made locally, enabling us to be much more responsive to the changing conditions and circumstances of each individual campus.   

  </p>