 
 <div class="w3-container w3-center">
   <%= image_tag 'help.png'%>    
</div>
<div class='w3-container w3-center'>
  <form>
  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname">
   <br>
    Email:<br>
  <input type="text" name="Email">
    <br>
  message:<br>
  <input type="text" name="message" style="height:200px"><br><br> <input type="submit" value="Submit">
     <p> Or call: 
  </p>
    <pre class="w3-blue w3-border">
 +1 (800) 200-1859
  </pre>
   
</form>
</div>

