
 <h1 class='w3-text-blue w3-xxlarge w3-center'> Welcome To The Online Bookstore 
  </h1>
  <div class="w3-container w3-center">
   <%= image_tag 'logo.jpg',  height: '600', width: '1000'%> 
  </div>
   

